﻿@model WebApplication1.Context.tbl_Employee

@{
    ViewBag.Title = "Employee";
}
<style>
    .error{
        color:red;
    }
</style>

@using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post))
{
    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(x=>x.ID)
            <label>Name</label>
            @Html.ValidationMessageFor(x => x.Name,"", new { @class="error"})
            @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Email</label>
            @Html.ValidationMessageFor(x => x.Email,"", new { @class = "error" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Mobile</label>
            @Html.ValidationMessageFor(x => x.Mobile,"", new { @class = "error" })
            @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Cancel</button>
        </div>
    </div>
}

