﻿@model List<WebApplication1.Context.tbl_Employee>
@{
    ViewBag.Title = "EmployeeList";
}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
    
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Mobile</td>
            <td>
                <a href="@Url.Action("Employee",new { item.ID,item.Name,item.Email,item.Mobile})"class="btn btn-success" >Edit</a>
                <a href="@Url.Action("Delete", new {item.ID })"class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    
</table>

